@media (max-width: 575px) {
  .logo-size {
    height: 48px !important;
  }
  .max-width-media {
    min-height: 0px !important;
  }
  .padding-left-right {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .margin-left-right {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .long-hairs-media {
    width: 100vw !important;
  }
  .background-media {
    background-color: rgb(248, 249, 250) !important;
  }
}

@media (min-width: 576px) {
  .maps-width {
    width: 60vw !important;
  }
}

@media (max-width: 790px) {
  .big-bar-none {
    display: none !important;
  }
}
@media (min-width: 790px) {
  .small-bar-none {
    display: none !important;
  }
}

@media (min-width: 370px) {
  .hide-line {
    display: none;
  }
}

@media (min-height: 873px) {
  .media-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
