@media (max-width: 575px) {
  .logo-size {
    height: 48px !important;
  }
  .height-media {
    height: 100% !important;
  }
  .max-width-media {
    min-height: 0px !important;
  }
  .instagram-media-rendered {
    border-radius: 0px !important;
    border: solid 0px white !important;
    width: 100vw !important;
  }
  .media-mackground {
    background-color: #f8f9fa;
    color: #212529 !important;
  }
  .padding-left-right {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .margin-left-right {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
