body {
  margin: 0px !important;
}

.bg-color-top {
  background-color: rgb(28, 31, 36);
}

.instagram-media {
  border-radius: 0px !important;
  border: solid 2px white !important;
  min-width: 280px !important;
}

.container-background {
  background: rgb(255, 255, 255);
}

.margin-left-right {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.width-100-important {
  width: 100vw !important;
}

.img-border {
  border: solid;
  border-color: rgb(237, 237, 237);
}

.long-hairs {
  max-width: 100%;
  width: 300px;
}
