body {
  margin: 0px !important;
}

.bg-color-top {
  background-color: rgb(28, 31, 36);
}

.navbar-sticky {
  position: sticky;
  top: 0;
}

.height-100 {
  height: 100vh;
}

.navbar-fontsize {
  font-size: 16px;
}

.little-navbar-fontsize {
  font-size: 12px;
  font-weight: bolder;
}

.instagram-media {
  border-radius: 0px !important;
  border: solid 2px white !important;
  min-width: 280px !important;
}

.long-hairs {
  max-width: 100%;
  width: 300px;
}

.scroll-up {
  position: fixed;
  height: 40px !important;
  width: 40px !important;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  right: 12px;
  bottom: 24px;
  z-index: 10;
  background-color: rgba(22, 22, 22, 0.289);
  padding: 12px;
  border-radius: 50%;
}

/*Start: For Function to hide the arrow */
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
/*End: For Function to hide the arrow */
